@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2> All Bookings </h2>

<table class="table">
   <thead>
    <tr>
        <th> ID </th>
        <th> Guest Name </th>
        <th> Room Number </th>
    </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model)
</table>
